@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Slab:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #404040;
}

h1, h2 {
    font: 'Roboto Slab', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #1F2426;
}

#logo {
    float: left;
    font-size: 300%;
    font-weight: 900;
}


