@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Slab:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #404040;
}

h1, h2 {
    font: 'Roboto Slab', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #1F2426;
}

/* styling logo and menu */
#logo {
    float: left;
    font-size: 300%;
    font-weight: 900;
    margin-left: 20px;
}

#menu {
    text-transform: uppercase;
    letter-spacing: 2px;
}

#menu li {
    list-style: none;
    margin: 0 30px;
    position: relative;
    float: right;
    font-weight: 600;
}

#menu, #logo {
    line-height: 100px;
}

#menu a {
    text-decoration: none;
    color: #404040
}

#menu a::after{
    content: '';
    height: 3px;
    width: 0;
    background: #0378A6;
    position: absolute;
    left: 0;
    bottom: 30px;
    transition: 0.5s;
}

#menu a:hover::after {
    width: 100%;
}

/* Main image setup*/
#main-image {
    width: 100%;
    height: 500px;
    background-size: auto;
    background: url('../css/images/main-image.jpg') center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

/* intro section */

#intro {
    height: 600px;
}

#beginning {
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-right: auto;
    margin-left: auto;
    font: Roboto Slab, 'sans-serif';
    color: #1F2426;
    font-size: 50px;
    margin-top: 150px;
    text-align: center;
    font-weight: 1200px;
}

#hadrian-img {
    /*background-color: blue;*/
    width: 44%;
    float: left;
    padding-top: 32%;
    margin: 50px 20px 20px;
    background: url('../css/images/hadrian-emperor\ 2.jpg');
    background-size: cover;
    box-shadow: -40px 30px 30px rgba(0,0,0,0.3);
    animation: fade-in ease-in;
    animation-duration: 5s;
}

#text-right {
    /*background-color: red;*/
    width: 44%;
    float: right;
    padding-top: 30px;
    margin: 100px 30px 20px;
    letter-spacing: 1.5px;
    line-height: 1.6;
}

/* Wall Timeline*/

/*#timeline {
    
}*/

#events-head{
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-right: auto;
    margin-left: auto;
    font: Roboto Slab, 'sans-serif';
    color: #1F2426;
    font-size: 40px;
    margin-top: 250px;
    text-align: center;
    font-weight: 1200px;
    margin-bottom: 20px;
}

.timeline-container {
    display: flex;
    /*background-color: aquamarine;*/
    justify-content: center;
    flex-wrap: wrap;
}

.line-item {
    width: 200px;
    margin: 10px;
}

.date {
    /*background-color: red;*/
    width: 33%;
    margin: 50px 15px 20px;
    text-align: center;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
    font: Roboto Slab, 'sans-serif';
    font-weight: 100px;
    color: #1F2426
}

.event {
    /*background-color: blue;*/
    width: 33%;
    margin: 50px 15px 20px;
    text-align: center;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    letter-spacing: 1.5px;
    line-height: 1.6;
}

.connect-line {
   background: linear-gradient(#0378A6,#283540);
   width: 10px;
   margin: 30px 10px 20px;
   height: 150px;
   animation: fade-in ease-in .8s forwards;
   animation-delay: 2s;
   animation-duration: 8s;
}

/* footer */

footer {
    height: 180px
}


@keyframes fade-in { 
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}